{% extends 'user/partials/main.html' %}


{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Books List</h1>

          
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Books List</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Books</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Book Name</th>
                    <th>Writer Name</th>
                    <th>Price</th>
                    <th>Vander Name</th>
                    <th>Purchase Date</th>
                    <th>Action</th>
                    <th>Delete Book</th>
                  </tr>
                </thead>
                <tbody>
                  {% for value in data %}
                  
                    <tr>
                      <td>{{value.id }}</td>
                      <td>{{value.book_name }}</td>
                      <td>{{value.writer_name }}</td>
                      <td>{{value.price }}</td>
                      <td>{{value.vander_name }}</td>
                      <td>{{value.purchase_date }}</td>
                      <td>
                        <a href = "/user/books/{{ value.id }}">Edit</a>
                      </td>
                      <td>
                        <a href ="/user/books/delete/{{ value.id }}">Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}
